@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.payment-page {
  width: 1500px;
  padding: 2% 0 0;
  margin: auto;
}
.payment-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.payment-form input:not[type ='checkbox']{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 2px;
  box-sizing: border-box;
  font-size: 14px;
}
.payment-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #43A047;
  width: 100%;
  border: 0;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.payment-form button:hover,.form button:active,.form button:focus {
  background: #4CAF50;
}

.payment-form a:hover {
  background-color: #4CAF50;
  font-family: "Roboto", sans-serif;
}

.other-occasion {
  display: none; 
}

.empty-div {
  padding: 18px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.nav-tabs .nav-link {
  color: #4CAF50;
  border-color: #4CAF50;
}

.debitCard_PaymentType {
  display: none; 
}

h4 {
    color: #4CAF50;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 15px;
}

h6 {
  color: #4CAF50;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 15px;
}

.payment-form-check-input:checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}